  <div class="cover">
    <h1 class="font-bold text-4xl"></h1>
  </div>

  <div class="container">

    <div class="cards">
        <% @lists.each do |list| %>
          <div class="card">
           <%= link_to list_path(list) do %>
            <h3><%= list.name %></h3>
            <%= cl_image_tag(list.photo.key) %>
              <%# <%= link_to list_path(list) do %>
                <%# <i class="fa-regular fa-eye"></i> %>
              <%# <% end %>
            <% end %>
          </div>
        <% end %>

    </div>

    <div class="add-button">
      <%= link_to '+ add new list', new_list_path, class: "btn btn-dark" %>
    </div>

    <%# <%= cl_image_tag("nxcgko32vntk54q8olnt",
      width: 400, height: 300, crop: :fill) %>

    <%# <%= cl_image_tag("qd56eq8v0uzxwqowdmss",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>


  </div>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
      </div>
      <div class="footer-copyright">
        <i class="fas fa-heart"></i>
      </div>
    </div>
