<div class="container">
  <h1>List of movies in <%= @list.name %></h1>

  <% @list.bookmarks.each do |bookmark| %>
    <div class="card">
        <h3><%= bookmark.movie.title %></h3>
        <p><%= bookmark.movie.overview %></p>
        <p><%= bookmark.comment %></p>

    </div>
    <%= link_to 'Delete bookmark', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary" %>
    <% end %>

  <%= link_to 'Add a bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <%= link_to "Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>

  <%= link_to 'All movie lists', lists_path, class: "btn btn-outline-secondary" %>

</div>
