<div class="container">
  <h1>List of movies in <em><%= @list.name %></em></h1>

  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card">
          <%= image_tag(bookmark.movie.poster_url) %>
          <h3><%= bookmark.movie.title %></h3>
          <p><%= bookmark.movie.overview %></p>
          <p>Rating: <%= bookmark.movie.rating %></p>
          <p><em><%= bookmark.comment %></em></p>
          <%= link_to 'Delete bookmark', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary" %>
      </div>

    <% end %>
  </div>

  <%= link_to 'Add a bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <%= link_to "Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>

  <%= link_to 'All movie lists', lists_path, class: "btn btn-outline-secondary" %>

</div>
