<div class="container">
  <h1>Add a new bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.order(:title) %>
    <%= f.input :comment, placeholder: "leave your comment to this movie" %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>

  <div class="page-button mt-2">


    <%= link_to list_path(@list) do %>
      <i class="fa-solid fa-delete-left"></i>
    <% end %>

    <%= link_to lists_path do %>
      <i class="fa-solid fa-home"></i>
    <% end %>


    <%# <%= link_to 'Cancel', list_path(@list), class: "btn btn-outline-secondary" %>
    <%# <%= link_to 'Home', lists_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
