<%#
  <%= image_tag "movie2.jpg", class: "icon-large", alt: "icon-large" %>
  <%# <%= link_to '+ new list', new_list_path, class: "btn btn-dark" %>
  <%# <%= link_to image_tag("movie2.jpg"), new_list_path, class: "icon-large", alt: "icon-large" %>

<div id="navbar" class="navbar navbar-expand-sm navbar-lewagon fixed-top">

  <%# <div class="navbar-brand"><%= image_tag "movie-logo.png" %>
  <div>
    <%= link_to root_path do %>
      <%= image_tag("movie-logo.png", class:"navbar-brand") %>
    <% end %>
  </div>

  <div class="nav-item">
    <h2 class="page-title">My Movie Watchlist</h2>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "new list", new_list_path, class:"nav-link" %>
      </li>

    </ul>
  </div>


</div>
